body{
    background-color: rgb(197, 245, 194);
    color: hsl(0, 0%, 2%);
}
.container{
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 50px;
}
.content{
    text-align: center;
    
}
.btn{
    display:inline-block;
    text-decoration: none;
    padding: 5px 15px;
    background: crimson;
    color: white;
    margin: 0 2px;

}
span{
    background-color: crimson;
    color: white;
    border-radius: 5px;
    padding: 0 10px;

}
.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
}
.form-container form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px crimson;
}
p a{
    display:inline-block;
    text-decoration: none;
    padding: 3px 10px;
    background: crimson;
    color: white;
    margin: 0 5px;
}
.errmsg{
    color: red;
}